version: '3'
services:
  dashboard:
    build: .
    container_name: Spilboard
    restart: unless-stopped
    privileged: true 
    ports:
      - "80:80"
    volumes:
      - ./data:/app/data
      #  uncomment this is temp is not working:
      # - /sys/class/thermal:/sys/class/thermal:ro